# ignore the MacOS system cache file
.DS_Store
*/.DS_Store

# ignore the python package cache
src/__pycache__

# ignore PDFs inside raw_data
# data/raw_data/*.pdf

# ignore the wget logs
wget-*

# ignore the .gitignore itself
.gitignore*
