# ignore the MacOS system cache file
.DS_Store
*/.DS_Store

# ignore the python package cache
*/__pycache__
__pycache__/

# ignore PDFs inside raw_data
# data/raw_data/*.pdf

# ignore the wget logs
wget-*

# ignore the checkpoint files
*/ckpts
llama/llama-2-7b/consolidated.00.pth
mistral/Mistral-7B-Instruct-v0.2

# ignore the .gitignore itself
# .gitignore*

# ignore some original files from llama repo
llama/Responsible-Use-Guide.pdf
llama/download.sh
