absl-py==2.0.0
accelerate==0.25.0
affine==2.4.0
aiofiles  
aiohttp==3.9.2
aiosignal==1.3.1
aiosqlite  
altair==5.1.2
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyascii==0.3.2
anyio  
appdirs==1.4.4
appnope==0.1.3
APScheduler==3.10.0
argon2-cffi  
argon2-cffi-bindings  
arrow==1.2.3
asgiref==3.7.2
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
attrs  
audioread==3.0.1
autograd==1.6.2
autograd-gamma==0.5.0
Automat==22.10.0
autopep8  
Babel  
backcall  
backoff==2.2.1
bangla==0.0.2
bcrypt==4.1.2
beautifulsoup4  
bitarray==2.9.2
bitsandbytes==0.41.3
bleach==6.0.0
blinker==1.6.3
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
Bottleneck==1.3.7
branca==0.6.0
Brotli  
brotlipy==0.7.0
build==1.1.1
cachetools==5.3.2
Cartopy==0.22.0
catalogue==2.0.10
certifi  
cffi  
chardet==3.0.4
charset-normalizer  
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.16.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
confection==0.1.4
constantly==23.10.4
contextily==1.4.0
contourpy  
coqpit==0.0.17
cramjam==2.7.0
cryptography  
cssselect==1.2.0
cycler  
cymem==2.0.8
Cython==3.0.0
dataclasses==0.6
dataclasses-json==0.6.4
datasets==2.18.0
dateparser==1.1.8
debugpy  
decorator  
defusedxml  
Deprecated==1.2.14
diffusers==0.26.3
dill==0.3.7
distro==1.9.0
docopt==0.6.2
docstring_parser==0.16
docx2txt==0.8
easydict==1.11
einops==0.7.0
encodec==0.1.1
entrypoints  
et-xmlfile==1.1.0
executing  
fairseq==0.12.2
fastapi==0.110.0
fastjsonschema  
fastparquet==2023.8.0
ffmpeg==1.4
ffmpy==0.3.2
filelock==3.12.2
fiona==1.9.5
fire==0.6.0
flake8==6.1.0
Flask==2.1.1
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.42.0
formulaic==1.0.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
funcy==2.0
future==1.0.0
g2pkk==0.1.2
gast==0.5.4
gdown==5.1.0
gensim==4.3.1
geographiclib==2.0
geopandas==0.14.0
geoplot==0.5.1
geopy==2.4.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
gradio==4.19.2
gradio_client==0.10.1
grpcio==1.60.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gunicorn==19.9.0
h11==0.14.0
h5py==3.10.0
hangul-romanize==0.1.0
hf_transfer==0.1.4
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
huggingface-hub==0.21.4
humanfriendly==10.0
hydra-core==1.0.7
hyperlink==21.0.0
idna==3.6
igraph==0.10.6
image-to-excel==1.0.3
imageio==2.31.1
imgaug==0.4.0
importlib-metadata==6.8.0
importlib_resources==6.1.2
incremental==22.10.0
inflect==7.0.0
install==1.3.5
interface-meta==1.3.0
ipykernel  
ipyleaflet==0.17.4
ipympl==0.9.3
ipython  
ipython-genutils  
ipywidgets==8.1.0
ISLP==0.3.22
isoduration==20.11.0
isort==5.12.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jamo==0.4.1
jedi  
jieba==0.42.1
Jinja2  
jmespath==1.0.1
joblib==1.3.1
json5==0.9.14
jsonlines==1.2.0
jsonpatch==1.33
jsonpickle==3.0.4
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications  
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-events  
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter-server  
jupyter-ydoc  
jupyter_client  
jupyter_core==5.3.1
jupyter_server_fileid  
jupyter_server_terminals==0.4.4
jupyter_server_ydoc  
jupyterlab  
jupyterlab-pygments  
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
jupyterthemes==0.20.0
kaggle==1.6.6
keras==2.15.0
Keras-Preprocessing==1.1.2
kiwisolver  
kubernetes==29.0.0
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.27
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.14
lazy_loader==0.3
lesscpy==0.15.1
libclang==16.0.6
librosa==0.10.1
libsvm==3.23.0.4
lifelines==0.28.0
lightning-utilities==0.11.2
llvmlite==0.41.1
lxml  
mapclassify==2.6.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe  
marshmallow==3.21.0
matplotlib  
matplotlib-inline  
mccabe==0.7.0
mdurl==0.1.2
mercantile==1.2.1
mido-fix==1.2.12
mistral_common==1.2.1
mistral_inference==1.1.0
mistune  
ml-dtypes==0.2.0
mlx==0.5.0
mlx-data==0.0.2
mlx-lm==0.0.13
mlxtend==0.22.0
mmh3==4.1.0
mmsdk  
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
munkres==1.1.4
murmurhash==1.0.10
music21==9.1.0
musicpy==6.89
mypy-extensions==1.0.0
nbclassic  
nbclient  
nbconvert==7.7.3
nbformat  
nest-asyncio==1.5.7
networkx==2.8.8
nltk==3.8.1
notebook  
notebook_shim==0.2.3
num2words==0.5.13
numba==0.58.1
numexpr==2.8.5
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.17.1
openai==1.12.0
opencv-python==4.9.0.80
opencv-python-headless==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
opt-einsum==3.3.0
orjson==3.9.15
osmnx==1.7.1
overrides==7.4.0
packaging==23.2
pafy==0.5.5
pandas==1.5.3
pandocfilters  
parsel==1.8.1
parso  
patsy==0.5.3
pdf2image==1.17.0
peft==0.11.1
pexpect  
pickleshare  
Pillow==9.5.0
pipreqs==0.4.13
platformdirs  
plotly==5.18.0
ply==3.11
pmdarima==2.0.3
pooch==1.8.0
portalocker==2.8.2
posthog==3.4.2
praat-parselmouth==0.4.3
preshed==3.0.9
prettytable==3.9.0
progressbar2==4.4.2
prometheus-client==0.17.1
prompt-toolkit==3.0.39
Protego==0.3.0
protobuf==4.23.4
psutil  
ptyprocess  
pulsar-client==3.4.0
pure-eval  
pyarrow==13.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser  
pydantic==2.6.1
pydantic_core==2.16.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
pydub==0.25.1
pyecharts==2.0.4
pyee==8.2.2
pyflakes==3.1.0
pygam==0.9.0
pygame==2.5.2
Pygments  
pyLDAvis==3.4.1
PyMuPDF==1.23.25
PyMuPDFb==1.23.22
pynndescent==0.5.11
pyOpenSSL  
pyparsing  
pypdf==4.0.2
PyPika==0.48.9
pypinyin==0.50.0
pyppeteer==1.0.2
pyproj==3.6.1
pyproject_hooks==1.0.0
pyre-extensions==0.0.29
pyrsistent  
pysbd==0.3.4
pyshp==2.3.1
PySocks  
pytesseract==0.3.10
python-crfsuite==0.9.10
python-dateutil  
python-dotenv==1.0.1
python-json-logger  
python-multipart==0.0.9
python-slugify==8.0.4
python-utils==3.8.2
pytorch-lightning==2.2.2
pytz==2023.3
PyWavelets==1.4.1
pyworld==0.3.4
PyYAML  
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
queuelib==1.6.2
rasterio==1.3.9
redis==3.5.3
referencing  
regex==2023.6.3
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.3.1
rfc3339-validator  
rfc3986-validator  
rich==13.6.0
rpds-py  
rsa==4.9
ruff==0.3.0
sacrebleu==2.4.0
safetensors==0.4.1
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.4
Scrapy==2.11.0
seaborn==0.12.2
semantic-version==2.10.0
Send2Trash  
sentence-transformers==2.4.0
sentencepiece==0.1.99
service-identity==24.1.0
shapely==2.0.1
shellingham==1.5.4
simple_parsing==0.1.5
simplejson==3.19.2
simpy==4.0.2
six  
smart-open==6.3.0
smmap==5.0.1
sniffio  
snuggs==1.4.7
soundfile==0.12.1
soupsieve  
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.27
srsly==2.4.8
stack-data  
starlette==0.36.3
statsmodels==0.14.0
streamlit==1.28.0
streamlit-folium==0.15.0
SudachiDict-core==20240109
SudachiPy==0.6.8
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
tensorflow-metal==1.1.0
termcolor==2.4.0
terminado  
text-unidecode==1.3
texttable==1.6.7
thinc==8.2.2
threadpoolctl==3.2.0
tifffile==2023.7.18
tiktoken==0.6.0
tinycss2  
tldextract==5.1.1
tokenizers==0.15.0
toml  
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.3.0
torchmetrics==1.3.2
torchvision==0.18.0
tornado  
tqdm==4.66.1
trainer==0.0.36
traitlets  
traittypes==0.2.1
transformers==4.38.2
Twisted==22.10.0
typeguard==2.13.3
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.12.1
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.5
Unidecode==1.3.8
uri-template==1.3.0
urllib3==1.24.3
uvicorn==0.27.1
uvloop==0.19.0
validators==0.22.0
w3lib==2.1.2
wasabi==1.1.2
watchfiles==0.21.0
wcwidth==0.2.6
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==10.4
Werkzeug==2.1.0
widgetsnbextension==4.0.8
wordcloud==1.9.2
wrapt==1.14.1
xformers==0.0.26.post1
xgboost==2.0.1
xlrd==2.0.1
XlsxWriter==3.1.4
xxhash==3.4.1
xyzservices==2023.10.1
y-py  
yapf==0.40.1
yarg==0.1.9
yarl==1.9.4
youtube-dl==2021.12.17
youtube-transcript-api==0.6.2
ypy-websocket  
zipp==3.16.2
zope.interface==6.1
